@charset "UTF-8";

.texto {
  color: #555;
  font-size: 1em;
}

.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa a:hover {
  background-color: #f00;
  color: #ffff;
}

.caixa a {
  text-decoration: none;
  cursor: pointer;
  color: #f00;
}